.productdisplay{
    display: flex;
    margin: 0px 170px;
}

.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img{
    height: 163px;
}

.productdisplay-main-img{
    width: 586px;
    height:700px;
}

.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1{
    font-size: 40px;
    font-weight: 700;
   color: black;
}

.productdisplay-right-stars{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 13px;
    color: orangered;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    gap: 30px;
    margin: 40px 0px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-price-old{
    color: #8c8c8c;
    text-decoration: line-through;
}

.productdisplay-right-price-new{
    color: orangered;
}
.productdisplay-right-size h1{
    font-size: 20px;
    font-weight: 600;
   color: black;
   margin-top: 55px;
}
.productdisplay-right-sizes{
    display: flex;
   margin: 30px 0px;
    gap: 18px;
}

.productdisplay-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border-radius: 3px;
    border: 1px solid #ffff;
    cursor: pointer;
}

.cartbutton button{
    padding: 20px 40px;
    display: block;
    width: 200px;
    outline: none;
    border: none;
    margin-bottom: 40px;
    border-radius: 75px;
    color: black;
    font-size: 16px;
    font-weight: 600px;
    background: rgb(228, 75, 4);
    cursor: pointer;
    transition: all 2s ease-in-out;
}
.cartbutton button:hover{
    background: black;
    transition: all 2s ease-in-out;
    color: rgb(228, 75, 4);
}
@media(max-width:1280px){    
     .productdisplay{
        margin: 0px 60px;
     }
     .productdisplay-left{
        gap: 10px;
     }    
     .productdisplay-img-list{
        gap: 10px;
     }
     .productdisplay-img-list img{
        height: 120px;
     }
     .productdisplay-main-img{
        width: auto;
        height: 510px
     }
     .productdisplay-right{
        margin: 0px 30px;
     }
     .productdisplay-right h1{
        font-size: 20px;
     }
     .productdisplay-right-stars{
        gap: 2px;
        font-size: 12px;
     }
     .productdisplay-right-prices{
        margin: 10px 0px;
        font-size: 16px;
     }
     .productdisplay-right-size h1{
        margin-top: 15px;
        font-size: 15px;
     }
     .productdisplay-right-sizes div{
        padding: 13px 15px;
     }
     .productdisplay-right button{
        width: 140px;
        padding: 14px 0px;
        margin-bottom: 18px;
     }
}
@media(max-width:1020px){    
    .productdisplay{
       margin: 0px 30px;
    }
    .productdisplay-left{
       gap: 5px;
    }    
    .productdisplay-img-list img{
       height: 80px;
    }
    .productdisplay-main-img{
       height: 300px
    }
    .productdisplay-right h1{
       font-size: 18px;
    }
    .productdisplay-right-stars img{
       width: 15px
    }
    .productdisplay-right-sizes{
        margin-top: 10px 0px;
    }
    .productdisplay-right-sizes div{
       padding: 10px 10px;
       font-size: 10px;
    }
    .productdisplay-right button{
       width: 110px;
       padding: 10px 0px;
       margin-bottom: 10px;
       font-size: 12px;
    }
}
@media(max-width:800px){    
    .productdisplay{
       margin: 0px 10px;
    }
    .productdisplay-left{
       gap: 0px;
       flex-direction: row-reverse;
       align-items: center;
    }    
    .productdisplay-img-list{
        flex-direction: row;
        gap: 5px;
    }
    .productdisplay-img-list img{
       height: 60px;
    }
    .productdisplay-main-img{
       height: 200px
    }
    .productdisplay-right h1{
       font-size: 12px;
    }
    .productdisplay-right-sizes h1{
        margin-top: 10px;
    }

    .productdisplay-right-stars img{
       width: 12px;
    }
    .productdisplay-right-sizes{
        margin-top: 10px 0px;
        gap: 4px;
    }
    .productdisplay-right-sizes div{
       padding: 3px 9px;
    }
    .productdisplay-right button{
       width: 10px;
       font-size: 10px;
    }
}
@media(max-width:500px){    
    .productdisplay{
     flex-direction: column;
    }
    .productdisplay-left{
       gap: 10px;
       flex-direction: row;
       margin: auto;
    }    
    .productdisplay-img-list{
        flex-direction: row;
        gap: 5px;
    }
    .productdisplay-img-list img{
       height: 70px;
    }
    .productdisplay-main-img{
       height: 300px
    }
    .productdisplay-right{
      margin: 4px;
    }
    .productdisplay-right-sizes h1{
        margin-top: 10px;
        font-size: 15px;
        font-weight: 400;
    }
    .productdisplay-right-stars img{
        width: 10px;
    }
    .productdisplay-right-sizes{
        gap: 5px;
        margin: 20px 0px;
    }
    .productdisplay-right-sizes div{
        padding: 10px 16px;
        font-size: 13px;
    }
    .productdisplay-right button{
        width: 120px;
       font-size: 14px;
       padding: 12px 0px;
    }
}
